%h2 Articles from #{@item[:year]}
%ul.archive
  - articles_for_year(@item[:year]).each do |i|
    %li.article
      %h2.title
        %a{:title => i[:title], :href => relative_path_to(i)}
          &= i[:title]
      .meta
        Posted by
        %a{:title => "Article author", :href => i[:author_uri] || @site.config[:author_uri]}
          &= i[:author_name] || @site.config[:author_name]
        on
        = i[:created_at].strftime('%F @ %H:%M %Z')
