AddDefaultCharset utf-8
AddType application/atom+xml .xml

ErrorDocument 404 /error/404/

# Old document locations
redirect 301 /pubkey.asc /downloads/pubkey.asc
redirect 301 /resume.pdf /downloads/resume.pdf

# Referenced a few times on StackOverflow
redirect 301 /2010/2/8/fun-with-the-upcoming-1-7-release-of-git.html /2010/02/07/fun_with_the_upcoming_1.7_release_of_git_rebase_--interactive_--autosquash.html

# WWW::StaticBlog -> nanoc
redirect 301 /2007/09/06/soft_resolution_of_request_tracker_tickets..html /posts/soft_resolution_of_request_tracker_tickets/
redirect 301 /2008/05/18/git_lighthouse.html /posts/git_lighthouse/
redirect 301 /2009/09/30/unhappy_with_the_standard_rails_authorization_plugins.html /posts/unhappy_with_the_standard_rails_authorization_plugins/
redirect 301 /2009/10/04/fixing_the_oniguruma_gem_for_use_on_dreamhost.html /posts/fixing_the_oniguruma_gem_for_use_on_dreamhost/
redirect 301 /2009/10/06/capistrano_completion_in_zsh.html /posts/capistrano_completion_in_zsh/
redirect 301 /2010/02/07/fun_with_the_upcoming_1.7_release_of_git_rebase_--interactive_--autosquash.html /posts/fun_with_the_upcoming_1_7_release_of_git_rebase_--interactive_--autosquash/
redirect 301 /2010/04/02/ditching_dynamic_blog_engines_.html /posts/ditching_dynamic_blog_engines/
redirect 301 /2010/04/10/helper_script_for_creating_posts_with_www__staticblog.html /posts/helper_script_for_creating_posts_with_www_staticblog/
redirect 301 /2010/05/01/"dear_jacob"_git_advice__git_add_-u.html /posts/dear_jacob_git_advice_add_-u/
redirect 301 /2010/10/10/pitfalls_with_rpm_and_gpg.html /posts/pitfalls_with_rpm_and_gpg/
redirect 301 /2010/11/21/offline_email_with_gmail__mutt__postfix_and_offlineimap.html /posts/offline_email_with_gmail_mutt_postfix_and_offlineimap/
redirect 301 /2011/04/02/a_better_emacs_front-end_to_ack.html /posts/a_better_emacs_front_end_to_ack/

# nanoc -> Octopress
redirect 301 /posts/soft_resolution_of_request_tracker_tickets/ /blog/2007/09/06/soft-resolution-of-request-tracker-tickets/
redirect 301 /posts/git_lighthouse/ /blog/2008/05/18/git-lighthouse/
redirect 301 /posts/unhappy_with_the_standard_rails_authorization_plugins/ /blog/2009/09/30/unhappy-with-the-standard-rails-authorization-plugins/
redirect 301 /posts/fixing_the_oniguruma_gem_for_use_on_dreamhost/ /blog/2009/10/04/fixing-the-oniguruma-gem-for-use-on-dreamhost/
redirect 301 /posts/capistrano_completion_in_zsh/ /blog/2009/10/06/capistrano-completion-in-zsh/
redirect 301 /posts/fun_with_the_upcoming_1_7_release_of_git_rebase_--interactive_--autosquash/ /blog/2010/02/07/fun-with-the-upcoming-1-7-release-of-git-rebase---interactive---autosquash/
redirect 301 /posts/ditching_dynamic_blog_engines/ /blog/2010/04/02/ditching-dynamic-blog-engines/
redirect 301 /posts/helper_script_for_creating_posts_with_www_staticblog/ /blog/2010/04/10/helper-script-for-creating-posts-with-www-staticblog/
redirect 301 /posts/dear_jacob_git_advice_add_-u/ /blog/2010/05/01/dear-jacob-git-advice-git-add--u/
redirect 301 /posts/pitfalls_with_rpm_and_gpg/ /blog/2010/10/10/pitfalls-with-rpm-and-gpg/
redirect 301 /posts/offline_email_with_gmail_mutt_postfix_and_offlineimap/ /blog/2010/11/21/offline-email-with-gmail-mutt-postfix-and-offlineimap/
redirect 301 /posts/a_better_emacs_front_end_to_ack/ /blog/2011/04/02/a-better-emacs-front-end-to-ack/

# Easier link for PDX Weekly Hackathon
redirect 301 /pdx-hackathon https://groups.google.com/forum/#!forum/pdx-weekly-hackathon
