// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article {
  > footer {
    padding-bottom: 0;
  }
}

section#feedback {
  color: lighten($text-color, 25%);
  padding-bottom: 2.5em;
}
